* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgreen;
}

main {
  margin: 10vh auto;
  padding-top: 2.5%;
  padding-left: 2%;
  padding-bottom: 2.5%;
  width: 70vw;
  background-color: white;
  border-radius: 2.5em;
}

header p {
  margin-top: 5px;
  color: gray;
}

#texto-tarefa {
  margin-top: 2.25vh;
  line-height: 2em;
}

#criar-tarefa {
  margin-left: 1em;
  background-color: lightblue;
}

#apaga-tudo {
  margin-left: 1em;
  background-color: lightcoral;
}

#remover-finalizados {
  margin-left: 1em;
  background-color: lightblue;
}

#salvar-tarefas {
  margin-left: 1em;
  background-color: lightgreen;
}

#mover-cima , #mover-baixo {
  background-color: lightgoldenrodyellow;
  filter: saturate(3);
}

#mover-cima:hover , #mover-baixo:hover {
  filter: brightness(0.9) saturate(3);
}

.btn-style {
  padding: 0.75em 2em;
  border-radius: 3em;
  border: 0;
}

.btn-style:hover {
  filter: brightness(0.9);
}

#lista-tarefas {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-left: 2.5em;
}

#lista-tarefas li {
  margin-top: 5px;
}

.completed {
  text-decoration: line-through solid black;
}
